section.banner{
  height: 540px;
  background-color: #02091A;
  width: 100%;
}

section.banner ul{
  font-size: 0;
  width: 98%;
  margin-right: auto;
  margin-left: auto;
}

section.banner ul li{
  display: inline-block;
  width: 50%;
  font-size: 1rem;
  vertical-align: middle;
}

section.banner ul li div#banner-intro{
  font-size: 50px;
  color: snow;
  margin-bottom: 30px;
}

section.banner ul li div#banner-content{
  font-size: 18px;
  color: snow;
}

section.banner ul li a{
  display: block;
  width: 140px;
  height: 40px;
  background-color: #42b9e5;
  border-radius: 2px;
  line-height: 40px;
  text-align: center;
  margin-top: 20px;
}

section.banner ul li img#banner-image{
  height: 540px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.stackLink{
  color: #82898c;
  text-align: right;
  padding: 0 10px;
  margin-top: 50px;
  margin-bottom: 50px;
}

div.stackLink a{
  font-size: 12px;
  color: #82898c;
}

@media screen and (max-width: 1025px){
  section.banner{
    height: 240px;
  }
  section.banner ul li div#banner-intro{
    font-size: 20px;
  }
  section.banner ul li div#banner-content{
    font-size: 14px;
  }
  section.banner ul li img#banner-image{
    height: 240px;
  }

}