header {
  width: 100%;
}

header section#navigation {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 10;
}


/* div.inner-position {
position: relative;
height: 80px;
} */

header section#navigation div.header-left {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

header section#navigation nav.header-middle {
  text-align: center;
  line-height: 80px;
  margin-left: auto;
  margin-right: auto;
}

header section#navigation nav.header-middle ul li a {
  display: block;
  width: 100%;
}

header section#navigation div.header-right {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

header section#navigation div.header-left a {
  background-image: url(../img/logo1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  display: inline-block;
  width: 200px;
  height: 80px;
}

header section#navigation nav.header-middle>ul>li {
  display: inline-block;
  margin: 0;
  padding: 0 30px;
  position: relative;
}


/*多层导航样式*/

header section#navigation nav.header-middle>ul>li.hSpecial>ul ul {
  min-height: 200px;
}


header section#navigation nav.header-middle>ul>li>ul {
  display: none;
  position: absolute;
  font-size: 0.875rem;
  color: #b1b1b1;
  margin-left: -30px;
  text-indent: 30px;
}

header section#navigation nav.header-middle>ul>li>ul>li {
  padding: 0;
  margin: 0;
  width: 230px;
  height: 50px;
  text-align: left;
  line-height: 50px;
}

header section#navigation nav.header-middle>ul>li>ul>li>ul {
  position: absolute;
  left: 140px;
  top: 0;
  width: 110px;
}

header section#navigation nav.header-middle>ul>li>ul>li>ul.tem-hide{
  display: none;
}

@media screen and (min-width: 1026px){
  header section#navigation nav.header-middle>ul>li.hSpecial:hover {
    min-height: 279px;
  }
  header section#navigation nav.header-middle>ul>li:hover {
    background-color: #0d272f;
  }
  
  header section#navigation nav.header-middle>ul>li:hover ul {
    display: block;
    background-color: #0d272f;
  }
  header section#navigation nav.header-middle>ul>li ul li:hover{
    display: block;
    background-color: #3a5963;
  }
  header section#navigation nav.header-middle a.header-toggle span{
    display: none;
  }
}


nav.header-middle a{
  width: 100%;
  display: inline-block;
}
header section#navigation div.header-right a {
  border: 1px solid;
  font-size: 1rem;
  border-radius: 2px;
  display: inline-block;
  width: 50px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin: 5px;
}

header section#navigation div.header-right a:nth-child(3) {
  display: none;
}

header section#navigation div.header-right a:last-child {
  border: none;
  border-radius: 0;
  border-left: 1px solid;
  padding-left: 10px;
}

header section#navigation div.header-right div {
  display: inline-block;
  margin: 0;
  padding: 0;
}


@media screen and (max-width: 1025px) {
  header section#navigation div.shrink-button {
      width: 18px;
      height: 18px;
      position: absolute;
      top: 16px;
      right: 20px;
      cursor: pointer;
  }
  header section#navigation div.shrink-button div.shrink-line {
      width: 18px;
      height: 2px;
      background-color: #B6E1F2;
      transition: all 0.3s;
      position: absolute;
      /*z-index: 20;*/
  }
  header section#navigation div#first-line {
      top: 5px;
  }
  header section#navigation div#second-line {
      top: 12px;
  }

  header section#navigation nav.header-middle>ul{
      border-top: 1px solid #243034;
  }
  header section#navigation div.header-right,
  header section#navigation nav.header-middle {
      display: none;
  }
  header section#navigation div.header-left{
    top: 25px;
  } 
  header section#navigation div.header-left a {
      width: 130px;
      height: 50px;
  }
  header section#navigation div.header-right div {
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
      text-align: center;
  }
  header section#navigation div.header-right div a {
      border: none;
  }
  header section#navigation nav.header-middle a.header-toggle span::before{
    content: attr(data-content);
    font-family: "ico";
    float: right;
  }

  header section#navigation nav.header-middle li.header-content ul.second-grade{
    margin-left: 10px;
    text-indent: 0;
  }
  /* header section#navigation nav.header-middle li.header-content ul.second-grade>li{
    position: static;
  } */

  header section#navigation nav.header-middle li.header-content ul.third-grade{
    display: none;
    position: static;
    margin-left: 10px;
    text-indent: 0;
  }
  header section#navigation {
    width: 100%;
    height: 40px;
  }
  header section#navigation nav.header-middle ul#headTarget>li{
    width: 100%;
    position: static;
  }

}


/*shrink-button样式变化*/
.activeClockwise {
  transform: rotate(45deg);
  top: 8px !important;
}

.activeAntiClockwise {
  transform: rotate(-45deg);
  top: 8px !important;
}

.expand {
  background-color: rgba(11, 24, 29, 1) !important;
  height: 100% !important;
  z-index: 100 !important;
}

.vertical {
  display: block !important;
  text-align: left !important;
  border: none !important;
  margin-bottom: 20px !important;
  margin-left: 10px !important;
  padding-left: 0!important;
  line-height: 1.5rem !important;
  font-size: 0.875rem !important;
  padding-right: 20px!important;
}

.header-right-shrink {
  display: block !important;
  position: static !important;
  transform: none !important;
}

.header-middle-shrink {
  display: block !important;
  padding-top: 55px !important;
  border-bottom: 1px solid #243034 !important;

}

.border-shrink {
  border-bottom: 1px solid #243034;
}


/* 工具样式 */

